
.cotegories {
    display: flex;
    align-items: center;
  }
  .cotegories p {
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    color: rgb(219, 68, 68);
  }
  .browse-cotegory {
    display: flex;
    justify-content: space-between;
  }
  .browse-prev-next {
    margin-top: 30px;
  }
  .prev-browse,
  .next-browse {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }
  .prev-browse:hover,
  .next-browse:hover {
    color: rgb(219, 68, 68);
  }
  .category-images {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }
  
  .category-images > div {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
  
  .category-images > div:hover {
    background-color: #db4444;
  }
  
  .img-camera h3 {
    margin-top: 10px;
  }